// colors
$mainColor: #000000;

$green: #499a18;
$orange: #e06733;
$whiteGray: #717171;
$darkGray: #636060;

$section-bg: #edf2ec;

$links: #010201;

$mobile: 768.98px; // мобилка адаптив
$small: 380.98px; //маленькая мобилка адаптив

$maxWidth: 1920; //макс ширина экрана
$maxWidthContainer: 1250; //макс ширина контейнера