@font-face {
    font-family: "icons";
    src: url("../fonts/icons.eot?iah2lp");
    src: url("../fonts/icons.eot?iah2lp#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?iah2lp") format("truetype"), url("../fonts/icons.woff?iah2lp") format("woff"), url("../fonts/icons.svg?iah2lp#icons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "icons" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._icon-04:before {
    content: "\e900";
}
._icon-arrow:before {
    content: "\e901";
}
._icon-fb:before {
    content: "\e902";
}
._icon-inst:before {
    content: "\e903";
}
._icon-tw:before {
    content: "\e904";
}
